<h1 class="center">Liste des Pokémons</h1>

<div class="container">
    <div class="row">
          <div class="col m4 s6" *ngFor="let pokemon of pokemonList">
            <div class="card horizontal">
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="image pokemon">
                </div>
                <div class="card-stacked">
                    <p>{{pokemon.name}}</p>
                    <p><small>{{pokemon.created}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>